[submodule "vim/plugged/nerdtree"]
	path = vim/plugged/nerdtree
    url = https://github.com/scrooloose/nerdtree

[submodule "vim/plugged/asyncomplete-lsp.vim/"]
    path = vim/plugged/asyncomplete-lsp.vim/
    url = https://github.com/prabirshrestha/asyncomplete-lsp.vim

[submodule "vim/plugged/asyncomplete.vim/"]
    path = vim/plugged/asyncomplete.vim/
    url = https://github.com/prabirshrestha/asyncomplete.vim

[submodule "vim/plugged/lightline.vim/"]
    path = vim/plugged/lightline.vim/
    url = https://github.com/itchyny/lightline.vim

[submodule "vim/plugged/rust.vim/"]
    path = vim/plugged/rust.vim/
    url = https://github.com/rust-lang/rust.vim

[submodule "vim/plugged/vim-lsp/"]
    path = vim/plugged/vim-lsp/
    url = https://github.com/prabirshrestha/vim-lsp

[submodule "vim/plugged/vim-lsp-settings/"]
    path = vim/plugged/vim-lsp-settings/
    url = https://github.com/mattn/vim-lsp-settings

[submodule "vim/plugged/vim-nightfly-guicolors/"]
    path = vim/plugged/vim-nightfly-guicolors/
    url = https://github.com/bluz71/vim-nightfly-guicolors
